<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>membercardList</title>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="css/main.css" type="text/css" rel="stylesheet"/>
    <link href="css/paging.css" type="text/css" rel="stylesheet"/>
    <style>


    </style>
</head>
<body>
<div  id="content_box" style="display:flex;flex-direction:column;">
    <span class="glyphicon glyphicon-circle-arrow-right"></span>&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    当前位置：会员卡管理&nbsp;&gt;&nbsp;会员卡查询

    <a style="margin-left: 530px;cursor: pointer;text-decoration: none;color: #000000; " href="#"><span
            class="glyphicon glyphicon-print"></span>&nbsp;打印</a>
    <a style="margin-left: 100px;cursor: pointer;text-decoration: none;color: #000000;" href="#"><span
            class="glyphicon glyphicon-export"></span>&nbsp;导出</a>

    <hr/>
    <form action="" id="membercardform">

        会员卡编号：<input type="text" name="memberCardCode" id="membercardname" style="height: 35px;" class="inputCss"
                   th:value="${blurMembercard}==null? '':${blurMembercard.memberCardCode}"/>&nbsp;&nbsp;

        <input type="button" value="搜索" class="btn btn-success" id="selectMembercard"/>&nbsp;
        <input type="button" class="btn btn-danger" value="删除" id="dropMembercard" th:if="${session.user.status}==1"/>

        <br/><br/>
        <table cellspacing="0" cellpadding="" class="table table-hover table-striped table-bordered" style="text-align: center;"
               id="membercard_tab">
            <tr id="tr_th">
                <th><input type="checkbox" name="caption" value="0" id="checkAll"/></th>
                <th>会员卡</th>
                <th>会员卡类型</th>
                <th>学生</th>
                <th>课时</th>
                <th th:if="${session.user.status}==1">操作</th>
            </tr>
            <tr th:each="membercard:${membercardVOList}">
                <td><input type="checkbox" name="caption"
                           th:id="'box_'+${membercard.id}" th:value="${membercard.id}"/></td>
                <td>[[${membercard.memberCardCode}]]</td>
                <td>[[${membercard.carType}]]</td>
                <td>[[${membercard.studentName}]]</td>
                <td>[[${membercard.classTime}]]</td>
                <td th:if="${session.user.status}==1"><a th:href="'editMembercard?membercardId='+${membercard.id}"><span
                        class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
        </table>

    </form>
    <!--分页元素-->
    <div class="box" id="box" style="align-self:center;"></div>
    <!--添加表单提交标志-->
    <form id="pageForm" style="display: none">
        <input name="name" th:value="${blurMembercard}==null? '':${blurMembercard.memberCardCode}"/>&nbsp;&nbsp;
        <input type="text" id="pages" name="page"/>

        <input type="button" id="btn" value="tijiao"/>
        <!--传入分页的参数-->
        <input type="text" id="actionName" value="selectMembercard"/>
    </form>
</div>
    <script src="js/jquery-1.12.4.js" type="application/javascript" charset="UTF-8"></script>
    <script src="js/bootstrap.js" type="application/javascript" charset="UTF-8"></script>
    <script src="js/paging.js" type="application/javascript"></script>
    <script src="js/common.js" type="application/javascript" charset="UTF-8"></script>
    <script type="text/javascript" th:inline="javascript">


        /*提交查询*/
        $("#selectMembercard").click(function () {
            $("#membercardform").attr("action", "selectMembercard");
            $("#membercardform").submit();
        });
        /*提交删除*/
        $("#dropMembercard").click(function () {
            var chex = $("input[id^='box_']:checked");
            if (chex.length == 0) {
                alert("请选择你要删除的会员卡");
            } else {
                if (confirm("确定要删除该会员卡吗？")) {
                    $("#membercardform").attr("action", "deleteMembercards");
                    $("#membercardform").submit();
                }
            }

        });

        /* 全选和反选*/
        $("#checkAll").click(function () {

            $("input[id^='box_']").prop("checked", this.checked);
        });

        //分页逻辑
        var setTotalCount = [[${pageInfo.total}]];
        var spageNum = [[${pageInfo.pages}]];
        var initPageNos = [[${pageInfo.pageNum}]]
        $('#box').paging({
            initPageNo: initPageNos, // 初始页码
            totalPages: spageNum, //总页数
            totalCount: '合计 ' + setTotalCount + ' 条数据', // 条目总数
            slideSpeed: 600, // 缓动速度。单位毫秒
            jump: true, //是否支持跳转
            callback: function (page) { // 回调函数
                //给标志赋值
                $("#pages").val(page);
            }
        })


    </script>
</body>
</html>
