<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>top</title>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="css/main.css" type="text/css" charset="UTF-8" rel="stylesheet"/>
</head>
<body>

    <div style="position: absolute;top: 45%;left:50%;transform: translate(-50%, -50%);text-align: center;">
        <img src="img/500.gif">
    <h1>服务器错误，请联系管理员</h1>
    </div>


</body>
<script src="js/jquery-1.12.4.js" type="application/javascript" charset="UTF-8"></script>
<script src="js/common.js" type="application/javascript" charset="UTF-8"></script>
</html>
