<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>relationList</title>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="css/main.css" type="text/css" rel="stylesheet"/>
    <link href="css/paging.css" type="text/css" rel="stylesheet"/>
    <style>


    </style>
</head>
<body>
<div  id="content_box" style="display:flex;flex-direction:column;">
    <div style="width: 80%">
    <span class="glyphicon glyphicon-circle-arrow-right"></span>&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    当前位置：签到管理&nbsp;&gt;&nbsp;查询签到


        <a style="cursor: pointer;text-decoration: none;color: #000000;float: right;" href="#"><span
                class="glyphicon glyphicon-print"></span>&nbsp;打印</a>

        <a style="cursor: pointer;text-decoration: none;color: #000000;float: right;margin-right: 50px;" href="/relationExportExcel"><span
                class="glyphicon glyphicon-export"></span>&nbsp;导出</a>
    </div>
    <hr/>
    <form action="" id="relationform">

        学员：<select name="studentID" class="inputCss" id="studentList"
                   th:value="${blurRelation}==null? '':${blurRelation.studentID} ">
        <option value="">--请选择学员--</option>
        <option th:value="${students.id}" th:each="students:${application.allStudentName}"
                th:selected="${blurRelation}==null? false:(${blurRelation.studentID}==${students.id}?true:false)">
            [[${students.name}]]
        </option>
    </select>
        &nbsp;&nbsp;
        周数：<select class="inputCss"  name="weekOfYear">
        <option value="" >-------周数------</option>
        <option th:value="${schedule.weekOfYear}" th:each="schedule:${application.allWeekOfYear}" th:selected="${blurRelation}==null? false:((${blurRelation.weekOfYear} == ${schedule.weekOfYear})?true:false) ">
            第[[${schedule.weekOfYear}]]周
        </option>
    </select>&nbsp;&nbsp;
        老师： <select class="inputCss" id="teacherName" name="teacherID">
        <option value="">--请选择老师--</option>
        <option th:value="${teacherName.id}" th:each="teacherName:${application.allTeacherName}"
                th:selected="${blurRelation}==null? false:((${blurRelation.teacherID} == ${teacherName.id})?true:false) ">
            [[${teacherName.name}]]
        </option>
    </select>
    </select>&nbsp;&nbsp;
        时间段：<select class="inputCss" id="dateID" name="timeSection">
        <option value="">--请选择时间段--</option>
        <option th:value="${dates.timeSection}" th:each="dates:${application.allDate}"
                th:selected="${blurRelation}==null? false:((${blurRelation.timeSection} == ${dates.timeSection})?true:false) ">
            [[${dates.timeSection}]]
        </option>
    </select>&nbsp;&nbsp;
        修改时间：<input name="lastModifyTime" id="contract_lastModifyTime" style="height: 35px;" class="inputCss"
                    th:value="${blurContract}==null? '':${#dates.format(blurContract.lastModifyTime,'yyyy-MM-dd')}"/>&nbsp;&nbsp;
        <input type="button" value="搜索" class="btn btn-success" id="selectRelation"/>&nbsp;
        <input type="button" class="btn btn-danger" value="删除" id="dropRelation" th:if="${session.user.status}==1"/>

        <br/><br/>
        <table cellspacing="0" cellpadding="" class="table table-hover table-striped table-bordered" style="text-align: center;"
               id="relation_tab">
            <tr id="tr_th">
                <th><input type="checkbox" name="caption" value="0" id="checkAll"/></th>
                <th>课程|老师</th>
                <th>学员|电话</th>
                <th>学员生日|性别</th>
                <th>周数|时间段</th>
                <th>状态</th>
                <th th:if="${session.user.status}==1">操作</th>
            </tr>
            <tr th:each="relation:${relationVOList}">
                <td><input type="checkbox" name="caption"
                           th:id="'box_'+${relation.id}" th:value="${relation.id}"/></td>
                <td th:if="${relation.schedule}!=null">
                    <span th:if="${relation.schedule.course} !=null">[[${relation.schedule.course.name}]]</span>
                    <span th:if="${relation.schedule.course} ==null" style="color: red;">排课已被删除</span>|
                    <span th:if="${relation.schedule.teacherVO} !=null">
                    [[${relation.schedule.teacherVO.name}]]
                     </span>
                    <span th:if="${relation.schedule.teacherVO} ==null">
                    无
                     </span>
                </td>
                <td th:if="${relation.schedule}==null" style="color: red">该排课信息已被删除</td>
                <td th:if="${relation.student} !=null">[[${relation.student.name}]]| [[${relation.student.telphone}]]</td>
                <td th:if="${relation.student} ==null"><span style="color: red">学员已被删除</span></td>

                <td th:if="${relation.student} !=null">
                    [[${#dates.format(relation.student.birthday,'yyyy年MM月dd日')}]]|[[${relation.student.sex}]]
                </td>
                <td th:if="${relation.student} ==null"><span style="color: red">学员已被删除</span></td>
                <td th:if="${relation.schedule}!=null">
                    <span th:if="${relation.schedule.weekOfYear} !=null">
                    第[[${relation.schedule.weekOfYear}]]周
                     </span>
                    <span th:if="${relation.schedule.weekOfYear} ==null">
                    无
                     </span>
                    |<span th:if="${relation.schedule.date} !=null">
                    [[${relation.schedule.date.timeSection}]]
                     </span>
                    <span th:if="${relation.schedule.date} ==null">
                    无
                     </span>
                </td>
                <td th:if="${relation.schedule}==null">
                    无
                </td>

                <td th:if="${relation.signInStatus}==1">
                    <span class="label label-success">准时</span><br>
                    <span style="font-size: small">(修改时间：[[${#dates.format(relation.lastModifyTime,'yyyy-MM-dd HH:mm:ss')}]]&nbsp;修改人：[[${relation.modifyPerson}]])</span>
                </td>
                <td th:if="${relation.signInStatus}==2">
                    <span class="label label-danger">未签到</span><br>
                    <span style="font-size: small">(修改时间：[[${#dates.format(relation.lastModifyTime,'yyyy-MM-dd HH:mm:ss')}]]&nbsp;修改人：[[${relation.modifyPerson}]])</span>

                </td>
                <td th:if="${relation.signInStatus}==3"><span class="label label-default">请假</span>
                    <br>
                    <span style="font-size: small">(修改时间：[[${#dates.format(relation.lastModifyTime,'yyyy-MM-dd HH:mm:ss')}]]&nbsp;修改人：[[${relation.modifyPerson}]])</span>
                </td>
<span th:if="${session.user.status}==1">
                <td th:if="${relation.schedule}!=null" style="text-align: center" >

                    <span th:if="${relation.student}!=null"><a th:href="'editRelation?scheduleId='+${relation.schedule.id}"><span
                            class="glyphicon glyphicon-pencil"></span></a></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-remove" th:if="${relation.student}==null" style="color: red"></span>
                </td>
                <td th:if="${relation.schedule}==null" style="color: red;text-align: center" ><span class="glyphicon glyphicon-remove"></span></td>
    </span>
            </tr>
        </table>
    </form>
    <!--分页元素-->
    <div class="box" id="box" style="align-self:center;"></div>
    <!--添加表单提交标志-->
    <form id="pageForm" style="display: none">
        <input name="studentID" th:value="${blurRelation}==null? '':${blurRelation.studentID}"/>&nbsp;&nbsp;
        <input name="weekOfYear" th:value="${blurRelation}==null? '':${blurRelation.weekOfYear}"/>
        <input name="teacherID" th:value="${blurRelation}==null? '':${blurRelation.teacherID}"/>
        <input name="lastModifyTime" th:value="${blurRelation}==null? '':${blurRelation.lastModifyTime}"/>
        <input type="text" id="pages" name="page"/>

        <input type="button" id="btn" value="tijiao"/>
        <!--传入分页的参数-->
        <input type="text" id="actionName" value="selectRelation"/>
    </form>
</div>
    <script src="js/jquery-1.12.4.js" type="application/javascript" charset="UTF-8"></script>
    <script src="js/bootstrap.js" type="application/javascript" charset="UTF-8"></script>
    <script src="js/paging.js" type="application/javascript"></script>
    <script src="laydate/laydate.js" type="text/javascript"></script>
    <script src="js/common.js" type="application/javascript" charset="UTF-8"></script>
    <script type="text/javascript" th:inline="javascript">
        //日期插件
        laydate.render({
            elem: '#contract_lastModifyTime',
            theme: '#8D48F9'//指定元素
            , trigger: 'click',
            type: 'datetime'
        });

        /*提交查询*/
        $("#selectRelation").click(function () {
            $("#relationform").attr("action", "selectRelation");
            $("#relationform").submit();
        });
        /*提交删除*/
        $("#dropRelation").click(function () {
            var chex = $("input[id^='box_']:checked");
            if (chex.length == 0) {
                alert("请选择你要删除的签到");
            } else {
                if (confirm("确定要删除该签到吗？")) {
                    $("#relationform").attr("action", "deleteRelations");
                    $("#relationform").submit();
                }
            }

        });

        /* 全选和反选*/
        $("#checkAll").click(function () {

            $("input[id^='box_']").prop("checked", this.checked);
        });

        //分页逻辑
        var setTotalCount = [[${pageInfo.total}]];
        var spageNum = [[${pageInfo.pages}]];
        var initPageNos = [[${pageInfo.pageNum}]]
        $('#box').paging({
            initPageNo: initPageNos, // 初始页码
            totalPages: spageNum, //总页数
            totalCount: '合计 ' + setTotalCount + ' 条数据', // 条目总数
            slideSpeed: 600, // 缓动速度。单位毫秒
            jump: true, //是否支持跳转
            callback: function (page) { // 回调函数
                //给标志赋值
                $("#pages").val(page);
            }
        })


    </script>
</body>
</html>
