<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxq.legao.dao.ContractDao">
    <insert id="insertContract" parameterType="com.zxq.legao.entity.po.ContractPO">
        INSERT INTO legao_contract(legao_contract.contractCode,
                                   legao_contract.studentId,
                                   legao_contract.signDate,
                                   legao_contract.classPackageId,
                                   legao_contract.price,
                                   legao_contract.discount,
                                   legao_contract.depositId,
                                   legao_contract.actPay,
                                   legao_contract.payType,
                                   legao_contract.presentationClassTime,
                                   legao_contract.startTime,
                                   legao_contract.endTime,
                                   legao_contract.belongOne,
                                   legao_contract.memberCarId,
                                   legao_contract.remark,
                                   legao_contract.classTime,
                                   legao_contract.remainClassTime,
                                   legao_contract.schoolAreaId,
                                   legao_contract.totalClassTime)
        VALUES (#{contractCode}, #{studentId}, #{signDate}, #{classPackageId}, #{price}, #{discount}, #{depositId},
                #{actPay},
                #{payType}, #{presentationClassTime}, #{startTime}, #{endTime}, #{belongOne}, #{memberCarId}, #{remark},
                #{classTime}, #{remainClassTime}, #{schoolAreaId}, #{totalClassTime});
    </insert>
    <delete id="deleteContract" parameterType="java.util.List">
        DELETE FROM legao_contract WHERE id IN
        <foreach collection="list" separator="," close=")" open="(" item="id">
            #{id}
        </foreach>

    </delete>
    <update id="updateContract" parameterType="com.zxq.legao.entity.po.ContractPO">
        UPDATE legao_contract
        SET
            contractCode          = #{contractCode},
            signDate              = #{signDate},
            classPackageId        = #{classPackageId},
            price                 = #{price},
            discount              = #{discount},
            depositId             = #{depositId},
            actPay                = #{actPay},
            payType               = #{payType},
            presentationClassTime = #{presentationClassTime},
            startTime             = #{startTime},
            endTime               = #{endTime},
            belongOne             = #{belongOne},
            remark                = #{remark},
            classTime             = #{classTime},
            schoolAreaId          = #{schoolAreaId},
            remainClassTime       = #{remainClassTime}
        WHERE id = #{id};
    </update>
    <select id="selectContract"
            resultType="com.zxq.legao.entity.vo.ContractVO" statementType="STATEMENT" resultMap="select_contractMap">

        SELECT
        id,
        <foreach collection="fields" separator="," item="fields">${fields}</foreach>

        FROM
        legao_contract

        <where>

            <if test="contractPO.contractCode!=null and contractPO.contractCode!=''">
                and contractCode like '%${contractPO.contractCode}%'
            </if>
            <if test="contractPO.studentId!=null and contractPO.studentId!=''">
                and studentId = '${contractPO.studentId}'
            </if>
            <if test="contractPO.startTimeStr!=null and contractPO.startTimeStr!=''">
                and startTime = '${contractPO.startTimeStr}'
            </if>
            <if test="contractPO.endTimeStr!=null and contractPO.endTimeStr!=''">
                and endTime = '${contractPO.endTimeStr}'
            </if>
            <if test="contractPO.signDateStr!=null and contractPO.signDateStr!=''">
                and signDate = '${contractPO.signDateStr}'
            </if>
        </where>
    </select>
    <select id="selectContractByID" parameterType="java.lang.Integer" resultType="com.zxq.legao.entity.po.ContractPO">
        SELECT
            legao_contract.id,
            legao_contract.contractCode,
            legao_contract.studentId,
            legao_contract.signDate,
            legao_contract.classPackageId,
            legao_contract.price,
            legao_contract.discount,
            legao_contract.depositId,
            legao_contract.actPay,
            legao_contract.payType,
            legao_contract.presentationClassTime,
            legao_contract.startTime,
            legao_contract.endTime,
            legao_contract.belongOne,
            legao_contract.memberCarId,
            legao_contract.remark,
            legao_contract.classTime,
            legao_contract.remainClassTime,
            legao_contract.schoolAreaId,
            legao_contract.totalClassTime
        FROM
            legao_contract
        WHERE id = #{id};
    </select>
    <resultMap id="select_contractMap" type="com.zxq.legao.entity.vo.ContractVO">
        <id column="id" property="id"></id>
        <result column="contractCode" property="contractCode"></result>
        <result column="signDate" property="signDate"></result>
        <result column="price" property="price"></result>
        <result column="discount" property="discount"></result>
        <result column="actPay" property="actPay"></result>
        <result column="payType" property="payType"></result>
        <result column="presentationClassTime" property="presentationClassTime"></result>
        <result column="startTime" property="startTime"></result>
        <result column="endTime" property="endTime"></result>
        <result column="belongOne" property="belongOne"></result>
        <result column="remark" property="remark"></result>
        <result column="memberCarId" property="memberCarId"></result>
        <result column="depositId" property="depositId"></result>
        <result column="classTime" property="classTime"></result>
        <result column="remainClassTime" property="remainClassTime"></result>
        <result column="totalClassTime" property="totalClassTime"></result>
        <result column="depositId" property="depositId"></result>
        <result column="studentId" property="studentId"></result>
        <result column="classPackageId" property="classPackageId"></result>
        <result column="schoolAreaId" property="schoolAreaId"></result>
        <association property="studentVO" column="studentId"
                     select="com.zxq.legao.dao.StudentDao.selectStudentByID"
                     javaType="com.zxq.legao.entity.vo.StudentVO"></association>
        <association property="classtimepackVO" column="classPackageId"
                     select="com.zxq.legao.dao.ClasstimepackDao.selectClasstimepackByID"
                     javaType="com.zxq.legao.entity.po.ClasstimepackPO"></association>
        <association property="membercardVO" column="memberCarId"
                     select="com.zxq.legao.dao.MembercardDao.selectMembercardByID"
                     javaType="com.zxq.legao.entity.po.MembercardPO"></association>
        <association property="depositVO" column="depositId" javaType="com.zxq.legao.entity.po.DepositPO"
                     select="com.zxq.legao.dao.DepositDao.selectDepositByID"></association>
        <association property="schoolArea" column="schoolAreaId" javaType="com.zxq.legao.entity.vo.SchoolAreaVO"
                     select="com.zxq.legao.dao.SchoolAreaDao.selectSchoolAreaByID"></association>

    </resultMap>
    <select id="selectContractByStudentId" parameterType="java.lang.Integer"
            resultType="com.zxq.legao.entity.po.ContractPO">
        SELECT
            legao_contract.id,
            legao_contract.contractCode,
            legao_contract.studentId,
            legao_contract.signDate,
            legao_contract.classPackageId,
            legao_contract.price,
            legao_contract.discount,
            legao_contract.depositId,
            legao_contract.actPay,
            legao_contract.payType,
            legao_contract.presentationClassTime,
            legao_contract.startTime,
            legao_contract.endTime,
            legao_contract.belongOne,
            legao_contract.remark,
            legao_contract.classTime,
            legao_contract.remainClassTime,
            legao_contract.schoolAreaId,
            legao_contract.totalClassTime
        FROM
            legao_contract
        WHERE studentId = #{studentId};
    </select>
    <update id="updateRemainClassTime" parameterType="com.zxq.legao.entity.po.ContractPO">
        UPDATE legao_contract
        SET
            remainClassTime = #{remainClassTime}
        WHERE id = #{id};
    </update>

    <select id="selectStudentInContract" resultType="java.lang.Integer">
        select studentId
        from legao_contract
    </select>

    <select id="selectAllContract" resultMap="select_contractMap">
        select * from legao_contract
    </select>
</mapper>
